body {
	
	width: 275px;
	outline: 0;
	font-family: 'Roboto Slab', serif;
}


#headerText {
	width: 275px;
	outline: none;
}

#mainText {
	width: 275px;
	outline: none;
	
}
.header {
	overflow: none;
	outline-style: none;
	font-weight: bold;
	padding-left: 10px;
	outline: opx solid transparent;

}
[contenteditable]:focus {
	outline: 0px solid transparent;

}
.main {
	overflow: none;
	border-left: 4px solid #42A2DA;
	padding-left: 10px;
}


